<ion-header>
  <ion-toolbar class="top-bar">
    <div class="nav-wrapper">
      <div class="nav-links">
        <a routerLink="/nosotros">Nosotros</a>
        <a routerLink="/aprende">Aprende</a>
        <a routerLink="/practica">Practica</a>
        <a routerLink="/inicio">Inicio</a>
      </div>
      
       <ion-button
        *ngIf="!usuario"
        class="login-btn"
        fill="outline"
        (click)="abrirLogin()"
      >
        Iniciar sesión
      </ion-button>

      <ion-button
        *ngIf="usuario"
        class="login-btn"
        fill="clear"
        (click)="abrirMenuUsuario()"
      >
        👤 {{ usuario }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="home-content">

  <div class="game-container">

    <!-- BUSCAR CARTA -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Busca la carta de juego</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-input
          type="number"
          placeholder="Ingresa un número del 1 al 18"
          [(ngModel)]="numeroCarta">
        </ion-input>

        <ion-button expand="block" class="search-btn" (click)="buscarCarta()">
          Buscar carta
        </ion-button>

        <!-- MENSAJE ERROR -->
        <p class="card-text" *ngIf="mensajeError">
          {{ mensajeError }}
        </p>

        <!-- ESPACIO PARA LA CARTA -->
        <div class="card-space">

          <div class="flip-card" [class.flipped]="cartaMostrada">
            <div class="flip-card-inner">

              <!-- REVERSO -->
              <div class="flip-card-front">
                <img src="assets/multimedia/reverso.png" alt="Reverso de carta">
              </div>

              <!-- FRENTE -->
              <div class="flip-card-back">
                <p>{{ textoCarta }}</p>
              </div>

            </div>
          </div>

        </div>

      </ion-card-content>
    </ion-card>

    <!-- DESCARGA -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Descarga juego de mesa</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="download-text">
          Descarga el juego de mesa en formato imprimible y aprende jugando.
        </p>

        <ion-button
          expand="block"
          color="primary"
          href="https://drive.google.com/file/d/1C-y6WWbroPtpyN7wr9bSHoyRGAQxV2ur/view?usp=sharing"
          target="_blank">
          Descargar para imprimir
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
