<ion-header class="top-bar">
  <ion-toolbar>

    <div class="nav-wrapper">

      <nav class="nav-links">
        <a href="/nosotros">Nosotros</a>
        <a href="/aprende">Aprende</a>
        <a href="/practica">Practica</a>
        <a href="/juego">Juego de mesa</a>
      </nav>

      <!-- BOTÓN / USUARIO -->
      <ion-button
        *ngIf="!usuario"
        class="login-btn"
        fill="outline"
        (click)="abrirLogin()"
      >
        Iniciar sesión
      </ion-button>

      <ion-button
        *ngIf="usuario"
        class="login-btn"
        fill="clear"
        (click)="abrirMenuUsuario()"
      >
        👤 {{ usuario }}
      </ion-button>

    </div>

  </ion-toolbar>
</ion-header>

<!-- POPOVER USUARIO -->
<ion-popover
  [isOpen]="menuUsuarioAbierto"
  (didDismiss)="menuUsuarioAbierto = false"
>
  <ng-template>
    <ion-list>
      <ion-item button (click)="cerrarSesion()">
        Cerrar sesión
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>


<ion-content fullscreen class="home-content">

  <div class="hero">

    <div class="hero-text">
      <h1>
        Base de Datos <br>
        <span>Gamificada</span>
      </h1>

      <p>
        Aprende bases de datos de forma práctica, divertida y progresiva
        mediante retos, juegos y simulaciones reales.
      </p>
    </div>

    <div class="hero-visual">
      <img src="assets/multimedia/inicioimg.png" alt="Base de datos" />
    </div>

  </div>

</ion-content>
