.home-content {
  --background: radial-gradient(circle at right, #1a1a1a 0%, #0d0d0d 60%);
  color: #fff;
}

.top-bar {
  --background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

ion-toolbar {
  height: 90px;
  display: flex;
  align-items: center;
}

.nav-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 60px;
}

.nav-links {
  grid-column: 2;
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.nav-links ion-router-link {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-links ion-router-link::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #3c39e6;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links ion-router-link:hover {
  color: #3c39e6;
}

.nav-links ion-router-link:hover::after {
  width: 60%;
}

.login-btn {
  grid-column: 3;
  justify-self: end;
  --border-color: #4c6fff;
  --color: #4c6fff;
  --border-radius: 30px;
  font-size: 14px;
  padding: 0 20px;
  height: 42px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-btn:hover {
  --background: #4c6fff;
  --color: #ffffff;
}


.levels-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 26px;
  max-width: 1400px;
  margin: 60px auto 0;
  justify-items: center;
}

.level-box {
  width: 260px;
  height: 380px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.level-box span {
  font-size: 18px;
  color: #bdbdbd;
  letter-spacing: 1px;
}

.level-box strong {
  font-size: 34px;
  margin-top: 6px;
  color: #ffffff;
}

.level-box:hover {
  background: #3c39e6;
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 12px 30px rgba(60, 57, 230, 0.4);
}


ion-card {
  background: rgba(71, 71, 71, 0.05);
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

ion-card-content {
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
}

.option-btn {
  width: 100%;
  margin-top: 14px;
  --background: rgb(255, 255, 255);
  --border-radius: 14px;
  height: 48px;
  text-transform: none;
  transition: 0.3s;
}

.option-btn:hover {
  --background: #3c39e6;
}

.feedback {
  margin-top: 18px;
  font-size: 18px;
}

.feedback.correct {
  color: #4caf50;
}

.feedback.incorrect {
  color: #f44336;
}