.login-content {
  --background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: 0;
}


/* CAJA PRINCIPAL */
.login-box {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  padding: 40px 30px 32px;
  position: relative;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.7);
}

/* BOTÓN CERRAR */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
}

/* TITULOS */
h1 {
  text-align: center;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}

.subtitle {
  text-align: center;
  color: #bdbdbd;
  font-size: 14px;
  margin-bottom: 28px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ion-item {
  --background: transparent;
  --border-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}

/* BOTÓN PRINCIPAL */
.main-btn {
  margin-top: 10px;
  height: 48px;
  --background: #3c39e6;
  --border-radius: 14px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* CAMBIO LOGIN / REGISTRO */
.switch {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #bdbdbd;
}

.switch span {
  color: #4c6fff;
  cursor: pointer;
  font-weight: 600;
}

.switch span:hover {
  text-decoration: underline;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  min-height: 100%;
}


.login-box {
  margin: 0 auto;
}


