/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


ion-modal {
  --background: transparent !important;
}

ion-modal::part(content) {
  background: transparent !important;
  box-shadow: none !important;
}

/* backdrop oscuro pero elegante */
ion-backdrop {
  background: rgb(0, 0, 0) !important;
}

/* evita fondo blanco interno */
ion-content {
  --background: transparent !important;
}


/* ===== FORZAR COLORES SIEMPRE (CLARO Y OSCURO) ===== */

:root {
  color-scheme: dark;

  --ion-background-color: #0a002d !important;
  --ion-text-color: #ffffff !important;

  --ion-toolbar-background: #10004b !important;
  --ion-toolbar-color: #ffffff !important;

  --ion-card-background: #0a002d !important;
}

/* Si Ionic activa automáticamente la clase .dark */
html.dark,
body.dark,
ion-app.dark {
  --ion-background-color: #0a002d !important;
  --ion-text-color: #ffffff !important;

  --ion-toolbar-background: #10004b !important;
  --ion-toolbar-color: #ffffff !important;

  --ion-card-background: #0a002d !important;
}

/* Fondo forzado por seguridad */
html,
body,
ion-app,
ion-content {
  background: #0a002d !important;
  color: #ffffff !important;
}

